*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button, i{
    cursor: pointer;
}
.leaflet-default-icon-path {
    background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}